# this is a level 1 heading
## this is a level 2 heading
This is some plain text froms a paragraph. Add emphasis via **bold** and __bold__ or *italic* and _italic_.
Paragraphs must be separated by an empty line.
* sometimes we want to include lists.
* which can be bulleted using asterisks.
1. Lists can also be numbered.
2. if we want an ordered list.
  ![hello]()
[it is possible to include hyperlinks-my website](https://www.mdu.com.np)
Inline conde uses single backtocks: foo(),and code blocks use triple backticks:
```
bar()
```


or can be indented by 4 space:
    foo()
And finally, adding image is easy: ![alt text]

In [24]:
5+5

10

In [26]:
a=5

a=5.5

In [29]:
print(a)

5

In [31]:
a=5
b=5.5
print(a)
print(b)


print("____")

print(type(a))
print(type(b))

5
5.5
____
<class 'int'>
<class 'float'>

In [33]:
a=5.5
b=5.5
print(a)
print(b)

# dynamic typing
print("____")

print(type(a))
print(type(b))

5.5
5.5
____
<class 'float'>
<class 'float'>

In [35]:
5.5=a

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (989841925.py, line 1)

In [37]:
a

5.5

In [39]:
# Naming coventions
.

SyntaxError: invalid syntax (4160298061.py, line 2)

In [41]:
Mala=24
print(Mala)

24

In [43]:
Mala=24
print(type(Mala))
print(Mala)

<class 'int'>
24

In [45]:
a="python"
type(a)

str

In [47]:
a = 'sunil'
b = "siraha"
c = '''hello world'''

print(a)
print(b)
print(c)

sunil
siraha
hello world

In [49]:
a="sunil's"
b="siraha"
c='''hello world'''

print(a)
print(b)
print(c)

sunil's
siraha
hello world

In [51]:
a = 'sunil\'s'
b = "siraha"
c = '''hello world'''

print(a)
print(b)
print(c)

sunil's
siraha
hello world

In [53]:
message = "hello world!"

print(message)

hello world!

In [55]:
substring1 = message[0:5]


print(substring1)

hello

In [57]:
message = "Hello,world"
name = "alice"
paragraph = '''This is a multi-line string using triple quotes.'''
print(message)
print(name)
print(paragraph)

Hello,world
alice
This is a multi-line string using triple quotes.

In [59]:
raw = "AEWYTU,DGFJK"

print(raw)

AEWYTU,DGFJK

In [61]:
x = raw[0:4]
print(x)

AEWY

In [63]:
x = raw[0:4]
print(x)

x = raw[0:3:2]
print(x)

AEWY
AW

In [65]:
# complex data structure

##list
### multiple kind of data
*built-in data srtucture that represent an ordered collection of data 

* mutable which can modify or change

*store different datatype

SyntaxError: invalid syntax (1345551273.py, line 5)

In [67]:
a = [2,3,4,5,6,7]
print(a)
print(type(a))

[2, 3, 4, 5, 6, 7]
<class 'list'>

In [69]:
salary = [100,21,21,1232,123]
print(salary)
print("----")

[100, 21, 21, 1232, 123]
----

In [71]:
salary = [100,21,21,1232,123]
print(salary[4])
print("----")
salary.append("12")
print(salary)
salary.remove(21)
print(salary)

123
----
[100, 21, 21, 1232, 123, '12']
[100, 21, 1232, 123, '12']

In [73]:
a = {3,4,5,6}
print(type(a))

<class 'set'>

In [75]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [77]:
x = True
print(type(x))

<class 'bool'>

In [79]:
my_set = {1,2,3,6,4,7,5,61,1,2,1,2,1}

# my_set{}

my_set.remove(6)
print(my_set)


my_set.add(8)
print(my_set)

{1, 2, 3, 4, 5, 7, 61}
{1, 2, 3, 4, 5, 7, 8, 61}

In [81]:
x = {"name" : "John", "age" : 36,"city":"kathmandu"}
print(type(x))
print(x)

<class 'dict'>
{'name': 'John', 'age': 36, 'city': 'kathmandu'}

In [83]:
my_dict = {"name" : "John", "age" : 36,"city":"kathmandu"}
print(my_dict["name"])

my_dict["occupation"] = "engineer"
print(my_dict)

for key,value in my_dict.items():
    print(key,":",value)

John
{'name': 'John', 'age': 36, 'city': 'kathmandu', 'occupation': 'engineer'}
name : John
age : 36
city : kathmandu
occupation : engineer

In [85]:
age = int(input("Enter your age"))

Enter your age 45

In [87]:
if age >=18:
    print("you are eligible to vote")
    print("please proceed to the voting booth")

else:
    print("come back again")

you are eligible to vote
please proceed to the voting booth

In [89]:
def add(a):
    print("your input is:",a)
    return

In [91]:
add(3)

your input is: 3

In [93]:
def squares(number):

    x = number**2
    return x

In [95]:
squares(5)

25

In [107]:
#name = "there"

def greet(name="sunil"):  # parameter is name
    print("Hello,"+ name) #concatenation
greet()
greet()

Hello,sunil
Hello,sunil

In [111]:
def add_numbers(a,b):
    return a+b
result = add_numbers(5,3)
result +=2
print(result)

10

In [122]:
x = 10   #this is global variable

def my_function():
    global x  #declaring x as global variable inside the function which can be overide to global
    x += 5  #modifying the global X

my_function() #print 15

print(x)     #now x is 15 globally

15